<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Got Gear</title>
    <link rel="favicon" type="image/jpg" href="/images/camping.jpg" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
      <header>
        <img class="logo-black" src="../../public/images/basic-got-gear-logo-white.png" alt="logo">
        <h1 class="title">Got Gear!<span><img class="logo-black" src="../../public/images/basic-got-gear-logo-white.png" alt="logo"></span></h1>
    <nav>
      {{#if loggedIn}}
        <button id="logout" class="btn btn-light">logout</button>
      {{else}}
        <a href="/login">login</a>
      {{/if}}
    </nav>
    </header>

    {{{body}}}

    {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
  </body>
  <footer>
    <p>Created by Team Got Gear &trade;</p>
  </footer>
</html>