<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Got Gear</title>
    <link rel="favicon" type="image/jpg" href="../../public/images/camping.jpg" />
</head>
<body>

    <header>
        <h1 class="title">Welcome to Go Gear!</h1>
    </header>

    <nav></nav>

    <main>
        <header class="article-title">Have you 'Got Gear'?</header>

        <section></section>
    </main>

    <div class="side-bar">
        <aside></aside>
    </div>

    <footer>
        <p>Created by Team Got Gear</p>
    </footer>
    
</body>
</html>