<h1>Your Gearbag</h1>
<div class="gear-body">
    <form action="/action_page.php">
    <label for="iname">Name of item:</label><br>
    <input type="text" id="fname" name="fname" value="Name"><br>
    <label for="lname">Item Description:</label><br>
    <input type="text" id="lname" name="lname" value="Description"><br><br>
    <input type="checkbox" id="coldClimate" name="coldClimate" value="Cold">
    <label for="coldClimate"> Cold Climate Item</label><br>
    <input type="checkbox" id="warmClimate" name="warmClimate" value="Warm">
    <label for="warmClimate"> Warm Climate Item</label><br>
    <input type="checkbox" id="wetClimate" name="wetClimate" value="Wet">
    <label for="wetClimate"> Wet Climate Item</label>
    <input type="checkbox" id="basic" name="basic" value="Basic">
    <label for="basic"> Basic Item</label>
    <input type="submit" value="Add Item">
    </form>

    <div>
        <h3>Current Gear Bag:</h3>
        <ul>
            
        </ul>
    </div>

</div>