<h1>{{{Username}}}'s Gearbag</h1>
<div class="gear-body">
    <form action="/action_page.php">
    <label for="iname">Name of item:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="description">Item Description:</label><br>
    <input type="text" id="desc" name="desc"><br><br>
    <label for="tags">Item Tags:</label><br>
    <input type="text" id="tags" name="tags"><br><br>
    </form>

    <div>
        <h3>Current Gear Bag:</h3>
        <ul>
            
        </ul>
    </div>

</div>