<h1>{{{Username}}} Gearbag</h1>
<div class="gear-body">
    <form action="/action_page.php">
    <label for="iname">Name of item:</label><br>
    <input type="text" id="name" name="name" value="Name"><br>
    <label for="lname">Item Description:</label><br>
    <input type="text" id="desc" name="desc" value="Description"><br><br>
    <label for="lname">Item Tags:</label><br>
    <input type="text" id="tags" name="tags" value="Tags"><br><br>
    </form>

    <div>
        <h3>Current Gear Bag:</h3>
        <ul>
            
        </ul>
    </div>

</div>