<header>
    <h1 class="title">Welcome to Got Gear!</h1>
</header>
<div class="welcome-body">
    <main>
        <header class="article-title">Have you 'Got Gear'?</header>

        <section></section>
    </main>

    <div class="side-bar">
        <aside></aside>
    </div>
</div>