    <header>
        <h1 class="title">Welcome to Go Gear!</h1>
    </header>

    <nav>
        <ul>
            <li>Home</li>
            <li>Login</li>
        </ul>
    </nav>
<div class="welcome-body">
    <main>
        <header class="article-title">Have you 'Got Gear'?</header>

        <section></section>
    </main>

    <div class="side-bar">
        <aside></aside>
    </div>

    <footer>
        <p>Created by Team Got Gear</p>
    </footer>
</div>