    <main>
        <div class="welcome-body">
        <div class="hero-content">
            <h1>Welcome to Got Gear!</h1>
            <p> Do you 'Got Gear'? Soon you will take the steps to becoming better prepared as well as giving yourself a tactical advantage when preparing yourself for your next big adventure! </p>
            <a href="/login" class="button">Get Started Now!</a>
        </div>
        <img src="../public/images/camping.jpg" alt="a tent underneath the stars.">
        </div>
    </main>

    <div class="side-bar">
        <aside></aside>
    </div>
</div>