    <main>
        <div class="welcome-body">
        <div class="hero-content">
            <h1>Do you 'Got Gear'?</h1>
            <p>Welcome to Got Gear! Soon you will take the steps to becoming better prepared as well as giving yourself a tactical advantage when preparing you for you next big adventure! </p>
            <a href="/login" class="button">Get Started Now!</a>
        </div>
        <img src="../public/images/camping.jpg" alt="a tent underneath the stars.">
        </div>
    </main>

    <div class="side-bar">
        <aside></aside>
    </div>
</div>