    <header>
        <h1 class="title">Welcome to Go Gear!</h1>

    <nav>
        <ul>
                <li>
                    <a href="#sample-1">Sample-1</a>
                </li>

                <li>
                    <a href="#Sample-2">Sample-2</a>
                </li>

                <li>
                    <a href="#Sample-3">Sample-3</a>
                </li>
            </ul>
    </nav>
    </header>

    <main>
        <div class="welcome-body">
        <div class="hero-content">
            <h1>Do you 'Got Gear'?</h1>
            <p>short description Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum repellendus, animi nemo fugiat neque numquam tenetur optio ut, excepturi iure dolor quibusdam porro sunt asperiores aliquam repellat ipsa eos amet.</p>
            <a href="#" class="button">Get Started Now!</a>
        </div>
        <img src="../public/images/camping.jpg" alt="a tent underneath the stars."
        </div>
    </main>

    <div class="side-bar">
        <aside></aside>
    </div>

    <footer>
        <p>Created by Team Got Gear</p>
    </footer>
</div>