<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/jpg" href="../public/images/camping.jpg" />
  </head>
  <body>
    <header>Welcome to Got Gear</header>

    <nav></nav>

    <main>

      <header>Got Gear?</header>

      <section></section>

      <section></section>


    </main>

    <div class="sidebar">
      <aside></aside>
      <aside></aside>
    </div>
    {{{body}}}

    <footer>
      <p>Created by Team Got Gear</p>
    </footer>
  </body>
</html>
